@model VL.ItsMe1110.Models.BlogEditModel

<div class="HeadSpace"></div>
@using (Html.BeginForm("Edit", "Blog", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.HiddenFor(m => m.BlogId)
    <div class="FormGroup">
        @Html.LabelFor(m => m.Title, new { @class = "FloatLeft Wd2 Column Label TextRight" })
        @Html.TextAreaFor(m => m.Title, new { @class = "FloatLeft Wd8 Column TextLine" })
    </div>
    <div class="FormGroup">
        @Html.LabelFor(m => m.Tags, new { @class = "FloatLeft Wd2 Column Label TextRight" })
        @Html.TextAreaFor(m => m.Tags, new { @class = "FloatLeft Wd8 Column TextLine" })
    </div>
    <div class="FormGroup">
        @Html.LabelFor(m => m.Content, new { @class = "FloatLeft Wd2 Column Label TextRight" })
        @Html.TextAreaFor(m => m.Content, new { @class = "FloatLeft Wd8 Column TextParagraph" })
    </div>
    <div class="FormGroup">
        <div class="Off2 Column">
            <input type="submit" class="Button" value="提交" />
            <input type="button" class="Button" value="返回" onclick="javascript: history.back(-1);" />
        </div>
    </div>
}