@model VL.ItsMe1110.Models.BlogListModel
@{
    ViewBag.Title = "List";
}
<h1>文章列表</h1>
@*<ul>
        @foreach (var blog in Model.OrderByDescending(c => c.CreatedTime))
        {
            <li>
                <a href="@Url.Action("Detail", new { id = blog.BlogId })">@blog.Title »</a>
                <p>@blog.BreviaryContent</p>
            </li>
        }
    </ul>*@


<div class="row">
    @foreach (var blog in Model.OrderByDescending(c => c.CreatedTime))
    {
        <div class="FloatLeft Wd3+ ParagraphBlock">
            <a href="@Url.Action("Detail", new { id = blog.BlogId })">
                <p class="TextHead" href="@Url.Action("Detail", new { id = blog.BlogId })">@blog.Title</p>
                <p class="TextBreviary">@blog.BreviaryContent</p>
            </a>
        </div>
    }
</div>
